h4 {margin-bottom: 0;}
h5 {margin-top: 0;}
h5 {margin-bottom: 0;}
h6 {margin-top: 0;}
h6 {margin-bottom: 0;}

body {
  background-color: #444444;
  color: #dddddd
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform:uppercase;
  border-top: 2px solid ;
  border-bottom: 2px solid;
}

body {
  background-image: url("https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/f15-low-level-rory-trappe.jpg");
  background-size:cover;
  background-attachment: fixed;
}
