h4 {margin-bottom: 0;}
h5 {margin-top: 0;}
h5 {margin-bottom: 0;}
h6 {margin-top: 0;}
h6 {margin-bottom: 0;}

body {
  background-color: #444444;
  color: #dddddd
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform:uppercase;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: rgba (0,0,0,0.1)
}

body {
  width: 960px;
  height: 960px;
  background-image: conic-gradient(red,blue,purple,gray,white,magenta);
}
